<% provide(:title, 'All Menus') %>
<div class="boxWrap noLine">
	<div class="presBox">
		<h3>Intro title here</h3>
		<p>Flank fatback tenderloin spare ribs bresaola. Boudin pig ribeye biltong pork belly corned beef andouille jerky tongue kielbasa pork jowl bacon. Turkey jerky meatball pig spare ribs!</p>
	</div>
</div>
<%= render 'product_box' %>