<div class="boxWrap noLine">
<div id="box-shadow-custom" class="productBox2 left">
<h2>Your delivery address</h2>
<%= render 'form' %>

<%= link_to 'Back', '#' %>
</div><!-- END OF PRODUCTBOX -->
<%= render @cart %>
</div><!-- END OF BOXWRAP -->