        <div class="footerWrap">
        <div class="julHjerte right"><%= image_tag("heart.png", alt: "jul heart") %></div>
	        <div class="boxSmall">
		        <form class="contact_form" action="" method="post" name="contact_form">
		        <ul>
				    <li>
				         <h2>Tilmeld dig vores nyhedsbrev</h2>
				    </li>
				    <li>
				        <input type="text" name="navn" placeholder="Navn"  />
				    </li>
				    <li>
				    <input type="text" name="email" placeholder="Email"/>
				</li>
				<li>
				    <button class="submit" type="submit">Tilmeld</button>
				</li>
				</ul>
					</form>
	        </div>
	        <div class="boxSmall">
	        	<address>
		        <h2>Jespers TorveKøkken aps</h2>
		        <p>Telefonvej 6</p>
				<p>2860 Søborg</p>
				<p>Tlf.: 70 22 82 12</p>
				<p>Fax: 70 22 82 13</p>
                <p><a href="mailto:torvekoekken@torvekoekken.dk">torvekoekken@torvekoekken.dk</a></p>
                <p>CVR: 24997189</p>
                <p>Se Fødevarestyrelsens <a href="#">smiley-rapporter</a></p>

	        	</address>
	        </div>
	        <div class="boxSmall last">
		        <div class="social">
		        <%= image_tag("facebook.png", alt: "facebook icon") %>
		        <%= image_tag("herlig_mad.png", alt: "herlig mad") %>
		        <p>&copy; 2013</p>
		        </div>
	        </div>
        </div><!-- END FOOTERWRAP -->